{% extends 'common/base.html' %}
{% load static %}


{% block content %}
    <h2 class="section-heading"> Habit Schedule Calendar</h2>

    <div id="calendar"></div>
    {% include 'schedule/calendar_modal.html' %}
    {% include 'schedule/calendar_update_modal.html' %}
{% endblock %}

{% block scripts %}
    <!-- rrule lib -->
    <script src='https://cdn.jsdelivr.net/npm/rrule@2.6.4/dist/es5/rrule.min.js'></script>

    <!-- fullcalendar bundle -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.18/index.global.min.js'></script>

    <!-- the rrule-to-fullcalendar connector. must go AFTER the rrule lib -->
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/rrule@6.1.18/index.global.min.js'></script>

    <!-- Your custom scripts -->
    <script src="{% static 'js/delete-event.js' %}"></script>
    <script src="{% static 'js/edit-event.js' %}"></script>
    <script src="{% static 'js/fullcalendar-init.js' %}"></script>
{% endblock %}

