<!-- templates/habits/edit_routine.html -->
{% extends 'habits/base.html' %}

{% block content %}
<h2>Edit Routine</h2>
<form>
    <p><label for="name">Routine Name:</label> <input type="text" id="name" name="name" value="Sample Routine"></p>
    <p><label for="category">Category:</label> <input type="text" id="category" name="category" value="Health"></p>
    <p>
        <label for="recommended_habits">Recommended habits:</label>
        <select id="recommended_habits" name="recommended_habits" multiple>
            <option value="1" selected>Morning Workout</option>
            <option value="2">Drink Water</option>
            <option value="3" selected>Read Books</option>
        </select>
    </p>
    <button type="submit">Save Changes</button>
</form>

{% endblock %}


{#<form method="post">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <button type="submit">Save Changes</button>#}
{#</form>#}