{% extends "common/base.html" %}
{% block body_class %}details-page{% endblock %}
{% block content %}
    <div class="object-list-container">
        <h2 class="section-heading">Your Routines</h2>
        {% if routines %}
            <div class="object-cards">
                {% for routine in routines %}
                    <div class="object-card">
                        <div class="object-card-header">
                            <h3 class="object-card-title">{{ routine.routine_name }}</h3>
                            <span class="object-card-category">{{ routine.category.category_type }}</span>
                        </div>
                        <div class="object-card-info">
                            <span>Habits: {{ routine.habits.count }}</span>
                        </div>
                        <div class="object-card-actions">
                            <a href="{% url 'details-routine' routine.pk %}" class="object-btn">Details</a>
                            <a href="{% url 'edit-routine' routine.pk %}" class="object-btn">Edit</a>
                        </div>
                        <form id="" method="POST" action="{% url 'delete-routine' routine.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">
                                <i class="bi bi-trash"></i>
                            </button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="no-objects-msg">You have no routines yet. <a class="no-object-btn"
                                                                   href="{% url 'create-routine' %}">Create one now.</a>
            </p>
        {% endif %}
    </div>
{% endblock %}
