{% extends 'common/base.html' %}
{% load static %}
{% block body_class %}details-page{% endblock %}

{% block content %}

    <div class="details-container">
        <div class="details-card">
            {% if routine.habits.count > 0 %}
                <p><strong>Habits in this routine:</strong></p>
                <ul>
                    {% for habit in routine.habits.all %}
                        <li>{{ habit.habit_name }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <span class="empty">No habits in this routine.</span>
            {% endif %}
        </div>
    </div>
{% endblock %}
