body::before {
  content: "";
  position: fixed;  /* change from absolute to fixed for full viewport */
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(2, 12, 7, 0.32); /* black overlay with 50% opacity */
  pointer-events: none;
  z-index: 1;
}

body {
    position: relative;
    background-image: url('/static/images/backgroundblue.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin-top: 50px !important;
    font-family: 'Orbitron', 'Segoe UI', Tahoma, Geneva, sans-serif;
    color: #ffffffc2;
}

body.details-page {
    background-size: auto;
}

/*body.edit-page {*/
/*       background-size: auto;*/
/*}*/

.section-heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.02em;
}