
/* Center form contents with even spacing */

.login-link {
  margin-top: 15px;
}

.login-link a {
  color: #f86b38;
  text-decoration: none;
  font-weight: 500;
}

.form-card#register {
  margin-top: 25px !important;
}

