<!-- templates/habits/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SOLIDIFY</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/dark.css">
</head>


<body class="{% block body_class %}{% endblock %}">

<header>
    {% include "common/nav.html" %}
</header>

<div class="wrapper">
<main>
    {% block content %}
    {% endblock %}
</main>
</div>

{% include "common/footer.html" %}

<!-- Page animation-->
<div id="particles-js"></div>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script src="{% static 'js/particles-init.js' %}"></script>

{% block scripts %}{% endblock %}
</body>

</html>
