<!-- templates/habits/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Habit Manager</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>
<body>

    <header>
        <nav>
            <a href={% url 'login' %}>Login</a>
            <a href={% url 'register' %}>Register</a>
            <a href="#">Create Category</a>
            <a href="#">Create Habit</a>
            <a href="#">Create Routine</a>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Page specific content will go here -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Habit Manager App</p>
    </footer>
</body>
</html>
