{% extends "common/base.html" %}
{% load static %}

{% block body_class %}contact-page{% endblock %}

{% block content %}
<section class="contact-section">
    <div class="container">
        <h1 class="footer-section-heading">Contact Us</h1>
        <p>Email us with any questions or inquiries. We’d be happy to help and will respond quickly!</p>

        {% if messages %}
            {% for message in messages %}
                <div class="successfully-sent-email-message">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="post" novalidate>
            {% csrf_token %}
            <div class="form-row">
                {{ form.full_name.label_tag }} {{ form.full_name }}
                {{ form.email.label_tag }} {{ form.email }}
            </div>
            <div class="form-row">
                {{ form.subject.label_tag }} {{ form.subject }}
            </div>
            <div class="form-row">
                {{ form.message.label_tag }} {{ form.message }}
            </div>
            <button type="submit" class="contact-btn">Send</button>
        </form>
    </div>
</section>
{% endblock %}
